
*.ipch
.vs/EngineDX/v16/.suo
*.db
*.opendb
.vscode/c_cpp_properties.json
Debug/*
x64/Debug/*
EngineDX.vcxproj.filters
EngineDX.vcxproj.user
DirectXTex/Bin/Desktop_2019/x64/Debug/*
DirectXTex/Bin/Desktop_2019_Win10/x64/Debug/*
DirectXTex/Bin/GDK_2019/Gaming.Desktop.x64/Debug/*
DirectXTex/Shaders/Compiled/*
DirectXTex/DirectXTex_Desktop_2017_Win10.vcxproj.filters
DirectXTex/DirectXTex_Desktop_2019_Win10.vcxproj.filters
DirectXTex/DirectXTex_Desktop_2019_Win10.vcxproj.user
DirectXTex/DirectXTex_Desktop_2022_Win10.vcxproj.filters
DirectXTex/DirectXTex_GDK_2017.vcxproj.filters
DirectXTex/DirectXTex_GDK_2019.vcxproj.filters
DirectXTex/DirectXTex_Windows10_2017.vcxproj.filters
DirectXTex/DirectXTex_Windows10_2019.vcxproj.filters
DirectXTex/DirectXTex_XboxOneXDK_2017.vcxproj.filters
DirectXTex/DirectXTex_Desktop_2017.vcxproj.filters
DirectXTex/DirectXTex_Desktop_2019.vcxproj.filters
DirectXTex/DirectXTex_Desktop_2019.vcxproj.user
.vs/EngineDX/v16/Solution.VC.db-shm
.vs/EngineDX/v16/Solution.VC.db-wal
.vscode/settings.json
*.vsidx
*.lock
.vs/EngineDX/v17/.suo
*.un~
.vs/EngineDX/v17/Browse.VC.db-shm
.vs/EngineDX/v17/Browse.VC.db-wal
.vs/EngineDX/v17/Solution.VC.db-shm
.vs/EngineDX/v17/Solution.VC.db-wal
